body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    width: 100px;
}

/* Navbar */

.navbar-container {
    background-color: #587780;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}